<div class="flex flex-col text-center mt-32 max-w-lg card m-auto">
  <h1>Atomic Habit Tracker</h1>
  <p>A simple application to help with building & breaking habits. Inspired by James Clear's <a href="https://jamesclear.com/atomic-habits">Atomic Habits</a>.</p>
  <%= link_to 'Get Started', new_habit_path, class: "btn-primary m-auto mt-4" %>
</div>
