<div class="max-w-2xl m-auto mt-32 card">
  <h1>New Log Entry</h1>
  <h2>Habit: <%= @habit.name %></h1>
  <p class="text-gray-700"><%= Time.now.strftime("%A, %b %d, %Y") %></p>
  <%= form_with(model: [@habit, @habit.logs.build], local: true) do |form| %>
    <div>
      <%= form.text_area :text, class: "text-field", required: true%>
    </div>
    <div>
      <%= form.submit 'Save', class: "btn-primary mt-4 m-auto"%>
    </div>
  <% end %>
</div>
