<div class="max-w-2xl m-auto mt-32 card">
  <h1>Log Entry for "<%= @habit.name %>"</h1>
  <p class="text-gray-700"><%= @log.created_at.strftime("%A, %b %d, %Y") %></p>
  <p><%= @log.text %> </p>
  <%= link_to 'Back', @habit %>
</div>
