@import "tailwindcss/base";

// BASE STYLES
body {
  @apply bg-gray-300 text-gray-700;
}

label {
  @apply block text-sm font-bold mb-2;
}

h1 {
  @apply text-2xl font-bold mb-2;
}

h2 {
  @apply text-lg font-bold mb-2;
}

p {
  @apply mb-2;
}

a {
  @apply text-blue-700;
  &:hover {
    @apply underline;
  }
}

th {
  @apply px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
}

td {
  @apply py-3 px-6 font-medium;
}

@import "tailwindcss/components";

// CUSTOM COMPONENT STYLES
.btn {
  &-primary {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded no-underline;
    &:hover {
      @apply bg-blue-700 no-underline;
    }
    &:focus {
      @apply outline-none shadow-outline;
    }
  }
  &-secondary {
    @apply bg-gray-500 text-white font-bold py-2 px-4 rounded no-underline;
    &:hover {
      @apply bg-gray-700 no-underline;
    }
    &:focus {
      @apply outline-none shadow-outline;
    }
  }

  &-danger {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded no-underline;
    &:hover {
      @apply bg-red-700 no-underline;
    }
    &:focus {
      @apply outline-none shadow-outline;
    }
  }
  &-small {
    @apply text-xs py-1 px-2 font-medium uppercase tracking-wider;
  }
}

.text-field {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  &:focus {
    @apply outline-none shadow-outline;
  }
}

.card {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

@import "tailwindcss/utilities";
