<div class="flex flex-col ">
  <div class=" card mx-16 mt-32">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center mb-4">Habits</h1>
    <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
      <thead>
        <tr>
          <th>Description</th>
          <th>Type</th>
          <th>Current Streak</th>
          <th>Actions Completed</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @habits.each do |habit| %>
          <tr class="even:bg-gray-100">
            <td class="font-medium"><%= habit.name %></td>
            <td>
              <p class="text-center rounded-full <%=habit.positive ? 'bg-green-200 text-green-600': 'bg-red-200 text-red-600'%>""><%= habit_type(habit.positive)%></p>
            </td>
            <td>
              <div class="flex justify-between w-32">
                <%= days_since(habit.last_reset) %>
                <%= button_to "Reset", habit, params: {:habit => {last_reset: Time.now}}, method: :patch, remote: true,
                  class: "btn-danger btn-small" %>
              </div>
            </td>
            <td><%= fraction_completed(habit.actions) %></td>
            <td><%= link_to 'View', habit, class: "btn-primary btn-small"%></td>
            <td><%= link_to 'Add Log Entry', new_habit_log_path(habit), class: "btn-secondary btn-small" %></td>
            <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger btn-small"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Habit', new_habit_path, class: "btn-primary" %>
  </div>
</div>
