<div class="max-w-2xl m-auto mt-32 card relative">
  <%= link_to 'Edit', edit_habit_path(@habit), class: "btn-primary absolute top-0 right-0 m-3"%>
  <h1 class="mb-1"><%= @habit.name%></h1>
  <div class="flex">
    <%= render partial: "shared/badge", 
        locals: {key: "#{@habit.positive ? 'Building' : 'Breaking'} Since", value: Time.now.strftime("%m/%d/%y"), color: 'orange'}
       %>
    <div class="ml-2">
      <%= render partial: "shared/badge", locals: {key: 'Current Streak', value: days_since(@habit.last_reset), color: 'green'}%>
    </div>
  </div>
  <h2 class="mt-2">Actions</h2>
  <div class="flex content-center mb-2">
    <p class="my-0"><%= fraction_completed(@habit.actions) %> Completed</p>
    <%=link_to 'Update', edit_habit_path(@habit), class: 'btn-secondary btn-small my-auto ml-3'%>
  </div>
  <ul class="list-disc ml-6">
    <% @habit.actions.each do |action|%>
      <% unless action.description.to_s.strip.empty? %>
        <li class=<%=action.done ? "text-green-700" : "text-red-600"%>><%= action.description %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="flex my-3">
    <h2 class="mb-0">Logs</h2>
    <%= link_to "Add Log", new_habit_log_path(@habit), class: "btn-secondary btn-small text-md ml-6 m-auto self-center"%>
  </div>
  <div>
    <%@habit.logs.each do |log|%>
      <%= link_to "#{log.created_at.strftime("%A, %b %d, %Y")}", habit_log_path(@habit, log)%>
    <% end %>
  </div>
</div>
