<!DOCTYPE html>
<html>
  <head>
    <title>Atomic Habit Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
      <ul class="flex bg-white py-4 shadow-md">
        <li class="mx-6">
          <%= link_to 'Atomic Habit Tracker', root_path, class: "text-blue-700 hover:text-blue-800" %>
        </li>
        <li class="mx-6">
          <%= link_to 'Habits', habits_path, class: "text-blue-700 hover:text-blue-800" %>
        </li>
        <li class="mx-6">
          <%= link_to 'New Habit', new_habit_path, class: "text-blue-700 hover:text-blue-800" %>
        </li>
      </ul>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
